http://localhost:8080 http://127.0.0.1:8080 http://web:8080 {
    encode gzip
    file_server

    @allowedPhpFiles path_regexp /w/(index|load|api|rest|thumb|opensearch_desc)\.php$

    @disallowed {
        not path /favicon.ico
        not path /robots.txt
        not path /sitemap/*
        not path_regexp /w/(skins|extensions)/.+\.(css|js|gif|jpg|jpeg|png|svg|wasm)$

        # Only for development. As we uses S3 or compatibles.
        not path /w/images/*
        path /w/images/deleted
    }

    php_fastcgi @allowedPhpFiles fastcgi:9000

    # Rewrite wiki paths
    rewrite /wiki/*       /w/index.php
    rewrite /w/rest.php/* /w/rest.php

    redir /     /wiki/Main_Page
    redir /wiki /wiki/Main_Page
    redir /dumps https://dumps.shinycolors.wiki/index.html

    # FIXME: This is not a valid way...
    @idPath path_regexp path ^/id/(.*)$
    redir @idPath /wiki/Special:URIResolver/{re.path.1}?{query}

    respond @disallowed 404
}


