<?php

$wgSecretKey = "";

## Database settings
$wgDBtype = "mysql";
$wgDBserver = "localhost";
$wgDBname = "mediawiki_db";
$wgDBuser = "mediawiki_user";
$wgDBpassword = "asdf";

# Sentry Plugin DSN
$wgSentryDsn = '';

# Mailer is AWS
$wgAwsSesCredentials = [
    'key' => '',
    'secret' => '',
    'token' => false
];
$wgAwsSesRegion = 'us-west-2';

# ReCaptcha
$wgReCaptchaSiteKey = '';
$wgReCaptchaSecretKey = '';

# Google Analytics
$wgGoogleAnalyticsAccount = '';

# GTag (Google Analytics)
$wgGTagAnalyticsId = '';

# StopForumSpam
$wgSFSIPListLocation = '';
$wgSFSAPIKey = '';


# Discord
$wgDiscordWebhookURL = [ '', '' ];

# DNSBL
$wgDnsBlacklistUrls = array(  );


# AWS
$wgAWSCredentials = [
    'key' => '',
    'secret' => '',
    'token' => false
];
$wgAWSRegion = 'us-east-1';
$wgAWSBucketName = '';
$wgAWSRepoHashLevels = 0; #migrate existing images
$wgAWSBucketDomain = '';